@font-face {
  font-family: "ES WF";
  /* src: url("/fonts/es_wf.woff2") format("woff2"); */
  src: url("/your-dreamboard-results/fonts/ShamsonSignatureRegular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brand";
  src: url("/your-dreamboard-results/fonts/Brand/Brand.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
